/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 { text-align: center; font-size: 20px; }
img { max-width: 100%; }

#login-logo { margin: 30px auto; display: block; }
#login-footer { text-align: center; padding: 30px 15px; background: #00002C; color: #fff; }
#login-footer a { text-decoration: none; color: #fff;}
.home-page-header-nav { padding: 5px 30px; }

.sub-page-header-nav { max-width: 100%; padding: 15px; background: #00002C; }
    .sub-page-header-nav .back-arrow { border-style: solid; height: 0; width: 0; display: inline-block; border-width: 15px 15px 15px 0; border-color: transparent white transparent transparent; }
    .sub-page-header-nav .title { color: white; text-align: right; float: right; }
.list-menu { max-width: 100%; list-style: none; margin: 0; padding: 0; }
    .list-menu a { padding: 15px 30px; text-decoration: none; display:block; color: #00002C; }
    .list-menu-title a { padding: 30px 15px; background: #00002C; color: #fff; text-align: right; }
    .list-menu li { border-bottom: 1px solid #00002C; }

    #main-menu li { line-height: 5; height: 100px; }
    #main-menu .list-menu-title { height: auto; line-height: 1; }
    #main-menu-anchors { background: transparent url(../img/anchor-icon-plain.gif) no-repeat 95% 50%; }
    #main-menu-chains { background: transparent url(../img/link.gif) no-repeat 95% 50%; }
    #main-menu-about { background: transparent url(../img/information-icon.gif) no-repeat 95% 50%; }
.main-container { margin: 15px 0; }
.main-container > form, .main-container > p, .main-container > h1 { padding: 0 15px; }




#drop-anchor-map { max-width: 100%; height: 200px; margin: 15px 0; }

#anchorList li { height: 150px; color: #fff; text-shadow: 1px 1px 2px #000; background: #00002C; }
#anchorList li a { color: #fff; text-shadow: 1px 1px 2px #000; padding: 0; }
#anchorList li p {padding: 0 15px;}

#CommentPage {
    background-color: #0F102A;
    color: white;
    font-family: arial;
    padding: 30px;
}

.Comment {
    margin-right: 40px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.Response {
    background-color: #004EAB;
    color: #0F102A;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 5px;
}

.AddComment {
    width: 215px;
    height: 30px;
    background-color: #C4E3E0;
    color: #0F102A;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 10px;
}

#LrgLinkImg {
    margin-left: 40px;
}

#CommentUnderline {
    height: 1px;
    background-color: #004EAB;
    margin-top: 90px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#map_canvas {
	width:100%;
	height:500px;
}
